# **Problem Statement:**
Explore the data set shared SNAP (Stanford Large Network Dataset Collection) product co-purchasing networks) [link](https://snap.stanford.edu/data/#amazon). The key task is the creation of an undirected graph and basis the standard functions deriving some key insights. The assessment expectation has been shared in the early context of this document. The clearly mentioned tools and defined tools and data sets need to be used. Observe the independent and original approach on building this capability.

## **Tools & Data Set Details(IMPORTANT)**
**Notebook Google collab:**https://colab.research.google.com/
####**Languages & framework:**Pyspark | Spark 2.4+
---
#### **Data Set Details:**(SNAP)https://snap.stanford.edu/data/#amazon
#### **Meta Data:**https://snap.stanford.edu/data/amazon-meta.html 
#### **Data Set:**https://snap.stanford.edu/data/amazon0601.html
#### **SNAP Libraries:**https://pypi.org/project/snap-stanford/
---

# **Approach towards deriving insights**
We have read,extracted,processed and analyzed information with the required pipeline.Following which we present our insight to increase the sale by :
 
1.   Targeting popular products
2.   Target the products which create demand and lead to co purchase
3.   Increasing co purchase pair

# **Index**

<a href='#1'>Step 1: Load the data set (only using Spark based) </a> <br>
<a href='#2'>Step 2: Data extraction (both transaction and meta data)</a><br>
<a href='#3'>Step 3: Understanding of the provided data set (both transaction and meta data)</a></br>
<a href='#4'>Step 4: Linking transactional data and meta data</a></br>
<a href='#5'>Step 5: Analytics based on metadata linked transaction information </a></br>


1.   <a href='#5.1'>How is copurchasing a product dependent on  Average rating when we first buy</a></br>
2.   <a href='#5.2'>How is copurchasing a product dependent on  Average rating</a></br>
3.   <a href='#5.3'>Analzying co purchase within same group</a></br>
4.   <a href='#5.4'>Analzying co purchase across the diverse group</a></br>

<a href='#6'>Step 6: Graph Representation</a></br>
1. <a href='#6.1'>Creation of graph using transaction data </a></br>
2. <a href='#6.2'>Connected component </a></br>
3. <a href='#6.3'>Get indegree and outdegree for every node</a></br>
4. <a href='#6.4'>Importance/Popularity Score for every node</a></br>

<a href='#7'>Step 7: Using Graph based analysis to improve the sale and drive the focus area </a></br>
1. <a href='#7.1'>Popular products are the ones with high page_rank/centrality score </a></br>
2. <a href='#7.2'>Products which might rose to popularity </a></br>
3. <a href='#7.3'>Products which should be targeted inorder to trigger the sale of others</a></br>
4. <a href='#7.4'>Product sale within the same and diverse product group </a></br>

<a href='#8'>Step 8: Improving product recommendation </a></br>
1.  <a href='#8.1'>Using Open traid </a></br>
2. <a href='#8.2'>Using Node2vec </a></br>

<a href='#9'>Step 9: Proposed extension </a></br>
1.  <a href='#9.1'>Title based similarty score </a></br>
2. <a href='#9.2'>Using category navigation  </a></br>



<a href='#9'> Proposed extensions</a>

##**Step 1:** Load the data set (only using Spark based) <a name='1'>

In [ ]:
'''Preparing the environment'''
import os
import sys
if 'COLAB_GPU' in os.environ:
    !pip install pyspark
    !pip install snap-stanford
    !pip install node2vec
    !git clone https://github.com/snap-stanford/snap-python.git
    !git clone https://github.com/snap-stanford/snap.git
    amazon0302_link='https://snap.stanford.edu/data/amazon0302.txt.gz'
    amazon0312_link='https://snap.stanford.edu/data/amazon0312.txt.gz'
    amazonmeta_link='https://snap.stanford.edu/data/bigdata/amazon/amazon-meta.txt.gz'
    amazon0601_link='https://snap.stanford.edu/data/amazon0601.txt.gz'
    downloads=[amazon0302_link,amazon0312_link,amazonmeta_link,amazon0601_link]
    for link in downloads:
        !wget {link}
        !gunzip {link.split('/')[-1]}

Requirement already satisfied: pyspark in /usr/local/lib/python3.7/dist-packages (3.1.1)
Requirement already satisfied: py4j==0.10.9 in /usr/local/lib/python3.7/dist-packages (from pyspark) (0.10.9)
Requirement already satisfied: snap-stanford in /usr/local/lib/python3.7/dist-packages (6.0.0)
Requirement already satisfied: node2vec in /usr/local/lib/python3.7/dist-packages (0.4.3)
Requirement already satisfied: tqdm in /usr/local/lib/python3.7/dist-packages (from node2vec) (4.41.1)
Requirement already satisfied: gensim in /usr/local/lib/python3.7/dist-packages (from node2vec) (3.6.0)
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from node2vec) (1.19.5)
Requirement already satisfied: joblib>=0.13.2 in /usr/local/lib/python3.7/dist-packages (from node2vec) (1.0.1)
Requirement already satisfied: networkx in /usr/local/lib/python3.7/dist-packages (from node2vec) (2.5.1)
Requirement already satisfied: scipy>=0.18.1 in /usr/local/lib/python3.7/dist-packages (from gensim->node2vec) (1.4.1)
Requirement already satisfied: smart-open>=1.2.1 in /usr/local/lib/python3.7/dist-packages (from gensim->node2vec) (5.0.0)
Requirement already satisfied: six>=1.5.0 in /usr/local/lib/python3.7/dist-packages (from gensim->node2vec) (1.15.0)
Requirement already satisfied: decorator<5,>=4.3 in /usr/local/lib/python3.7/dist-packages (from networkx->node2vec) (4.4.2)
fatal: destination path 'snap-python' already exists and is not an empty directory.
fatal: destination path 'snap' already exists and is not an empty directory.
--2021-05-27 02:24:46--  https://snap.stanford.edu/data/amazon0302.txt.gz
Resolving snap.stanford.edu (snap.stanford.edu)... 171.64.75.80
Connecting to snap.stanford.edu (snap.stanford.edu)|171.64.75.80|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 4664334 (4.4M) [application/x-gzip]
Saving to: â€˜amazon0302.txt.gzâ€™

amazon0302.txt.gz   100%[===================>]   4.45M  5.46MB/s    in 0.8s

2021-05-27 02:24:47 (5.46 MB/s) - â€˜amazon0302.txt.gzâ€™ saved [4664334/4664334]

gzip: amazon0302.txt already exists; do you wish to overwrite (y or n)? ^C
--2021-05-27 02:25:08--  https://snap.stanford.edu/data/amazon0312.txt.gz
Resolving snap.stanford.edu (snap.stanford.edu)... 171.64.75.80
Connecting to snap.stanford.edu (snap.stanford.edu)|171.64.75.80|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 11304294 (11M) [application/x-gzip]
Saving to: â€˜amazon0312.txt.gzâ€™

amazon0312.txt.gz   100%[===================>]  10.78M  10.3MB/s    in 1.0s

2021-05-27 02:25:09 (10.3 MB/s) - â€˜amazon0312.txt.gzâ€™ saved [11304294/11304294]

gzip: amazon0312.txt already exists; do you wish to overwrite (y or n)? ^C
--2021-05-27 02:25:13--  https://snap.stanford.edu/data/bigdata/amazon/amazon-meta.txt.gz
Resolving snap.stanford.edu (snap.stanford.edu)... 171.64.75.80
Connecting to snap.stanford.edu (snap.stanford.edu)|171.64.75.80|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 210807517 (201M) [application/x-gzip]
Saving to: â€˜amazon-meta.txt.gzâ€™

amazon-meta.txt.gz  100%[===================>] 201.04M  4.84MB/s    in 14s

2021-05-27 02:25:28 (14.0 MB/s) - â€˜amazon-meta.txt.gzâ€™ saved [210807517/210807517]

gzip: amazon-meta.txt already exists; do you wish to overwrite (y or n)? ^C
--2021-05-27 02:25:35--  https://snap.stanford.edu/data/amazon0601.txt.gz
Resolving snap.stanford.edu (snap.stanford.edu)... 171.64.75.80
Connecting to snap.stanford.edu (snap.stanford.edu)|171.64.75.80|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 11807430 (11M) [application/x-gzip]
Saving to: â€˜amazon0601.txt.gzâ€™

amazon0601.txt.gz   100%[===================>]  11.26M  3.12MB/s    in 3.6s

2021-05-27 02:25:39 (3.12 MB/s) - â€˜amazon0601.txt.gzâ€™ saved [11807430/11807430]

gzip: amazon0601.txt already exists; do you wish to overwrite (y or n)? ^C

In [ ]:
import pandas as pd
import numpy as np
from pyspark.sql import SparkSession
from pyspark import SparkContext
from pyspark.sql import SQLContext
from pyspark.sql.types import *
import pyspark.sql.functions as F
from pyspark.sql.functions import *
import re

In [ ]:
spark = SparkSession.builder.getOrCreate()
sc= SparkContext.getOrCreate();

In [ ]:
trans_file='amazon0302.txt'
meta_file='amazon-meta.txt'

In [ ]:
contentRDD=sc.textFile(trans_file)
filterDD = contentRDD.filter(lambda l: not l.startswith('#'))
filterDD.take(10)

['0\t1',
 '0\t2',
 '0\t3',
 '0\t4',
 '0\t5',
 '1\t0',
 '1\t2',
 '1\t4',
 '1\t5',
 '1\t15']

In [ ]:
'''Extracting edge record set'''
def get_edge_record(x):
    return [*x.split('\t')]
trans_data=filterDD.map(lambda x:get_edge_record(x))
trans_data.take(2)

[['0', '1'], ['0', '2']]

In [ ]:
text_rdd=spark.read.text(meta_file,lineSep='\r\n\r\n')
records=text_rdd.rdd.filter(lambda l: (not (l.value.startswith('#')) and (not l.value.__contains__('  discontinued product'))))
records=records.map(lambda x : x.value.split('\r\n'))
records.take(3)

[['Id:   1',
  'ASIN: 0827229534',
  '  title: Patterns of Preaching: A Sermon Sampler',
  '  group: Book',
  '  salesrank: 396585',
  '  similar: 5  0804215715  156101074X  0687023955  0687074231  082721619X',
  '  categories: 2',
  '   |Books[283155]|Subjects[1000]|Religion & Spirituality[22]|Christianity[12290]|Clergy[12360]|Preaching[12368]',
  '   |Books[283155]|Subjects[1000]|Religion & Spirituality[22]|Christianity[12290]|Clergy[12360]|Sermons[12370]',
  '  reviews: total: 2  downloaded: 2  avg rating: 5',
  '    2000-7-28  cutomer: A2JW67OY8U6HHK  rating: 5  votes:  10  helpful:   9',
  '    2003-12-14  cutomer: A2VE83MZF98ITY  rating: 5  votes:   6  helpful:   5'],
 ['Id:   2',
  'ASIN: 0738700797',
  '  title: Candlemas: Feast of Flames',
  '  group: Book',
  '  salesrank: 168596',
  '  similar: 5  0738700827  1567184960  1567182836  0738700525  0738700940',
  '  categories: 2',
  '   |Books[283155]|Subjects[1000]|Religion & Spirituality[22]|Earth-Based Religions[12472]|Wicca[12484]',
  '   |Books[283155]|Subjects[1000]|Religion & Spirituality[22]|Earth-Based Religions[12472]|Witchcraft[12486]',
  '  reviews: total: 12  downloaded: 12  avg rating: 4.5',
  '    2001-12-16  cutomer: A11NCO6YTE4BTJ  rating: 5  votes:   5  helpful:   4',
  '    2002-1-7  cutomer:  A9CQ3PLRNIR83  rating: 4  votes:   5  helpful:   5',
  '    2002-1-24  cutomer: A13SG9ACZ9O5IM  rating: 5  votes:   8  helpful:   8',
  '    2002-1-28  cutomer: A1BDAI6VEYMAZA  rating: 5  votes:   4  helpful:   4',
  '    2002-2-6  cutomer: A2P6KAWXJ16234  rating: 4  votes:  16  helpful:  16',
  '    2002-2-14  cutomer:  AMACWC3M7PQFR  rating: 4  votes:   5  helpful:   5',
  '    2002-3-23  cutomer: A3GO7UV9XX14D8  rating: 4  votes:   6  helpful:   6',
  '    2002-5-23  cutomer: A1GIL64QK68WKL  rating: 5  votes:   8  helpful:   8',
  '    2003-2-25  cutomer:  AEOBOF2ONQJWV  rating: 5  votes:   8  helpful:   5',
  '    2003-11-25  cutomer: A3IGHTES8ME05L  rating: 5  votes:   5  helpful:   5',
  '    2004-2-11  cutomer: A1CP26N8RHYVVO  rating: 1  votes:  13  helpful:   9',
  '    2005-2-7  cutomer:  ANEIANH0WAT9D  rating: 5  votes:   1  helpful:   1'],
 ['Id:   3',
  'ASIN: 0486287785',
  '  title: World War II Allied Fighter Planes Trading Cards',
  '  group: Book',
  '  salesrank: 1270652',
  '  similar: 0',
  '  categories: 1',
  '   |Books[283155]|Subjects[1000]|Home & Garden[48]|Crafts & Hobbies[5126]|General[5144]',
  '  reviews: total: 1  downloaded: 1  avg rating: 5',
  '    2003-7-10  cutomer: A3IDGASRQAW8B2  rating: 5  votes:   2  helpful:   2']]

# **Step 2:** Data extraction (both transaction and meta data) <a name='2'></a>

In [ ]:
# Extracting product meta information 
def extract_meta_info(x):

    x_dict=dict()
    for ele in x:
        split=ele.split(':')
        x_dict[split[0].strip()]=split[1:]
    ID=int(x_dict['Id'][0])
    asin=x_dict['ASIN'][0].strip()
    title=x_dict.get('title',["None"])[0].strip()
    group=x_dict.get('group',["None"])[0].strip()
    sales_rank=int(x_dict.get('salesrank',["-1"])[0].strip())
    nproduct_similar=int(x_dict.get('similar',['0'])[0].split('  ')[0])
    
    total_rating=0
    avg_rating=0
    if "reviews" in x_dict.keys():
        review=''.join(x_dict['reviews'])
        total_rating = int(re.findall("total (\d+)",review)[0])
        avg_rating=int(re.findall("avg\ rating\ (\d+)",review)[0])

    
    return [ID,asin,group,title,sales_rank,nproduct_similar,total_rating,avg_rating]


meta_table=spark.createDataFrame(records.map(lambda x: extract_meta_info(x)),schema=['ID','ASIN','group','title','sales_rank','np_similar','total_rating','avg_rating'])

meta_table.show()

+---+----------+-----+--------------------+----------+----------+------------+----------+
| ID|      ASIN|group|               title|sales_rank|np_similar|total_rating|avg_rating|
+---+----------+-----+--------------------+----------+----------+------------+----------+
|  1|0827229534| Book|Patterns of Preac...|    396585|         5|           2|         5|
|  2|0738700797| Book|           Candlemas|    168596|         5|          12|         4|
|  3|0486287785| Book|World War II Alli...|   1270652|         0|           1|         5|
|  4|0842328327| Book|Life Application ...|    631289|         5|           1|         4|
|  5|1577943082| Book|Prayers That Avai...|    455160|         5|           0|         0|
|  6|0486220125| Book|How the Other Hal...|    188784|         5|          17|         4|
|  7|B00000AU3R|Music|               Batik|      5392|         5|           3|         4|
|  8|0231118597| Book| Losing Matt Shepard|    277409|         5|          15|         4|
|  9|1859677800| Book|        Making Bread|    949166|         0|           0|         0|
| 10|0375709363| Book|The Edward Said R...|    220379|         5|           6|         4|
| 11|0871318237| Book| Resetting the Clock|    412962|         5|           1|         5|
| 12|1590770218| Book|Fantastic Food wi...|     24741|         5|          12|         4|
| 13|0313230269| Book|    Clockwork Worlds|   2895088|         0|           0|         0|
| 14|B00004W1W1|Music|            Later...|    390624|         0|           0|         0|
| 15|1559362022| Book|Wake Up and Smell...|    518927|         5|           8|         4|
| 16|0195110382| Book|          War at Sea|    631564|         5|          10|         4|
| 17|0849311012| Book|Telecommunication...|    570183|         4|           3|         3|
| 18|B000007R0T|Music|         Sol to Soul|    109301|         5|          15|         5|
| 19|078510870X| Book|Ultimate Marvel T...|    612475|         5|           8|         3|
| 20|3895780812| Book| Computed Tomography|    179448|         5|           1|         5|
+---+----------+-----+--------------------+----------+----------+------------+----------+
only showing top 20 rows

In [ ]:
# Reading transaction data to spark dataframe
trans_sdf=spark.createDataFrame(trans_data,schema=['src','dest'])

## **Step 3:** : Understanding of the provided data set (both transaction and meta data) <a name='3'> </a>

In [ ]:
print("Product group count present in meta data")
group_items=meta_table.groupby('group').count()
group_items.show()

Product group count present in meta data
+------------+------+
|       group| count|
+------------+------+
|       Video| 26131|
|         Toy|     8|
|         DVD| 19828|
|      Sports|     1|
|Baby Product|     1|
| Video Games|     1|
|        Book|393561|
|       Music|103144|
|    Software|     5|
|          CE|     4|
+------------+------+

In [ ]:
#Get the birectional data
birec=trans_sdf.alias('a').join(trans_sdf.alias('b'),(col('a.src')==col('b.dest')) & (col('a.dest')==col('b.src'))).select(trans_sdf['*'])
birec.show(3)

+------+------+
|   src|  dest|
+------+------+
|100071| 76343|
|100084| 78003|
|100187|156222|
+------+------+
only showing top 3 rows

In [ ]:
bidir_pairs=birec.count()/2
bidir_pairs

335085.0

In [ ]:
total_pairs=trans_sdf.groupby('src','dest').count().count()
total_pairs

1234877

In [ ]:
print("{0:0.2f} % of the purchase pair are two way".format(100*bidir_pairs/total_pairs))

27.14 % of the purchase pair are two way

In [ ]:
trans_sdf.columns

['src', 'dest']

## **Step 4:** Linking transactional data and meta data  <a name='4'></a>

In [ ]:
node_meta=meta_table.join(trans_sdf,meta_table.ID==trans_sdf.src)

In [ ]:
node_meta.columns

['ID',
 'ASIN',
 'group',
 'title',
 'sales_rank',
 'np_similar',
 'total_rating',
 'avg_rating',
 'src',
 'dest']

In [ ]:
meta_table=meta_table.select('ID', 'ASIN', 'group','sales_rank','avg_rating')
meta_table.columns

['ID', 'ASIN', 'group', 'sales_rank', 'avg_rating']

In [ ]:
meta_table=meta_table.withColumnRenamed('ID','ID2').withColumnRenamed('ASIN','ASIN2').withColumnRenamed('group','group2').withColumnRenamed('category','category2').withColumnRenamed('avg_rating','avg_rating2').withColumnRenamed('sales_rank','sales_rank2')

In [ ]:
meta_table.columns

['ID2', 'ASIN2', 'group2', 'sales_rank2', 'avg_rating2']

In [ ]:
node_meta_src_des=node_meta.join(meta_table,node_meta.dest==meta_table.ID2)

In [ ]:
node_meta_src_des.printSchema()

root
 |-- ID: long (nullable = true)
 |-- ASIN: string (nullable = true)
 |-- group: string (nullable = true)
 |-- title: string (nullable = true)
 |-- sales_rank: long (nullable = true)
 |-- np_similar: long (nullable = true)
 |-- total_rating: long (nullable = true)
 |-- avg_rating: long (nullable = true)
 |-- src: string (nullable = true)
 |-- dest: string (nullable = true)
 |-- ID2: long (nullable = true)
 |-- ASIN2: string (nullable = true)
 |-- group2: string (nullable = true)
 |-- sales_rank2: long (nullable = true)
 |-- avg_rating2: long (nullable = true)

In [ ]:
node_meta_src_des.columns

['ID',
 'ASIN',
 'group',
 'title',
 'sales_rank',
 'np_similar',
 'total_rating',
 'avg_rating',
 'src',
 'dest',
 'ID2',
 'ASIN2',
 'group2',
 'sales_rank2',
 'avg_rating2']

## **Step 5:** Analytics based on metadata linked transaction information <a name='5'></a>

#### 5.1 . How the purchasing a product dependent on  Average rating <a name='5.1'></a>

### For analyzing co purchase we need to focus on count of src attribute

In [ ]:
print('Grouping by product which first buy')
src_grouped=node_meta_src_des.groupby('src').count()
src_grouped.columns

Grouping by product which first buy

['src', 'count']

In [ ]:
src_grouped_avg=src_grouped.join(node_meta_src_des,src_grouped['src']==node_meta_src_des['src'])

In [ ]:
src_grouped_avg=src_grouped_avg.select(src_grouped['src'],src_grouped['count'],node_meta_src_des['sales_rank'],node_meta_src_des['group'],node_meta_src_des['avg_rating'])
src_grouped_avg.show()

+------+-----+----------+-----+----------+
|   src|count|sales_rank|group|avg_rating|
+------+-----+----------+-----+----------+
|100010|    5|   1105443| Book|         3|
|100010|    5|   1105443| Book|         3|
|100010|    5|   1105443| Book|         3|
|100010|    5|   1105443| Book|         3|
|100010|    5|   1105443| Book|         3|
|100140|    3|   1556441| Book|         5|
|100140|    3|   1556441| Book|         5|
|100140|    3|   1556441| Book|         5|
|100227|    5|    753595| Book|         3|
|100227|    5|    753595| Book|         3|
|100227|    5|    753595| Book|         3|
|100227|    5|    753595| Book|         3|
|100227|    5|    753595| Book|         3|
|100263|    4|    269450|Music|         0|
|100263|    4|    269450|Music|         0|
|100263|    4|    269450|Music|         0|
|100263|    4|    269450|Music|         0|
|100320|    5|     45323| Book|         4|
|100320|    5|     45323| Book|         4|
|100320|    5|     45323| Book|         4|
+------+-----+----------+-----+----------+
only showing top 20 rows

In [ ]:
src_grouped_avg.corr('count','avg_rating')

0.0012499627347239994

In [ ]:
src_groupbased_corr=src_grouped_avg.groupby('group').agg(corr('count','avg_rating'))

In [ ]:
src_groupbased_corr.show()

+------------+-----------------------+
|       group|corr(count, avg_rating)|
+------------+-----------------------+
|       Video|   0.022525243463348173|
|         Toy|   -0.28867513459481303|
|         DVD|   0.003657015314166712|
|Baby Product|                   null|
| Video Games|                   null|
|        Book|    -8.8567924985705E-5|
|       Music|   1.698285532912330...|
|    Software|                   null|
|          CE|     0.3779644730092271|
+------------+-----------------------+

#### 5.2 . How is copurchasing a product dependent on  Average rating <a name='5.2'></a>

### For analyzing co purchase we need to focus on destination attribute as it identifies the co purchased product

In [ ]:
print('Grouping by co purchased product')
dest_grouped=node_meta_src_des.groupby('dest').count()
dest_grouped.columns

Grouping by co purchased product

['dest', 'count']

In [ ]:
dest_grouped_avg=dest_grouped.join(node_meta_src_des,dest_grouped['dest']==node_meta_src_des['dest'])

In [ ]:
dest_grouped_avg=dest_grouped_avg.select(dest_grouped['dest'],dest_grouped['count'],node_meta_src_des['sales_rank'],node_meta_src_des['group2'],node_meta_src_des['avg_rating2'])
dest_grouped_avg.show()

+------+-----+----------+------+-----------+
|  dest|count|sales_rank|group2|avg_rating2|
+------+-----+----------+------+-----------+
|100010|    1|      8076|  Book|          3|
|100140|    1|    386221|  Book|          5|
|100227|    5|   1115219|  Book|          3|
|100227|    5|    750026|  Book|          3|
|100227|    5|   1549622|  Book|          3|
|100227|    5|     39872|  Book|          3|
|100227|    5|     18399|  Book|          3|
|100263|    3|       464| Music|          0|
|100263|    3|    312566| Music|          0|
|100263|    3|    419694| Music|          0|
|100320|    5|    304322|  Book|          4|
|100320|    5|    277731|  Book|          4|
|100320|    5|   1804743|  Book|          4|
|100320|    5|    561260|  Book|          4|
|100320|    5|     29543|  Book|          4|
|100553|    3|    880630|  Book|          0|
|100553|    3|     54489|  Book|          0|
|100553|    3|    265462|  Book|          0|
|100704|    5|     61804|  Book|          3|
|100704|    5|    162288|  Book|          3|
+------+-----+----------+------+-----------+
only showing top 20 rows

In [ ]:
dest_grouped_avg.corr('count','avg_rating2')

0.021753365799190683

In [ ]:
groupbaed_corr=dest_grouped_avg.groupby('group2').agg(corr('count','avg_rating2'))

In [ ]:
groupbaed_corr.show()

+------------+------------------------+
|      group2|corr(count, avg_rating2)|
+------------+------------------------+
|       Video|    0.038297240052678136|
|         Toy|     -0.9626342561216908|
|         DVD|     -0.0370511073291901|
|Baby Product|                    null|
| Video Games|                    null|
|        Book|    0.018959076357230306|
|       Music|     0.04148909959045391|
|    Software|      0.9999999999999998|
|          CE|                     1.0|
+------------+------------------------+

In [ ]:
print("From above , we don't get see correlation with rating of both purchase and copurchased product")

From above , we don't get see correlation with rating of both purchase and copurchased product

#### 5.3 . Analzying co purchase within same group <a name='5.3'></a>

In [ ]:
co_purchase_group=node_meta_src_des.groupby(['group','group2']).count().sort('count',ascending=False)

In [ ]:
same_group=co_purchase_group[co_purchase_group.group==co_purchase_group.group2]
same_group=same_group.withColumnRenamed('count','purchase_pairs')
same_group.show()

+-----+------+--------------+
|group|group2|purchase_pairs|
+-----+------+--------------+
| Book|  Book|        637896|
|Music| Music|         45806|
|Video| Video|          3372|
|  DVD|   DVD|          3043|
+-----+------+--------------+

In [ ]:
group_items_df=group_items.toPandas()

In [ ]:
group_items_df

          group   count
0         Video   26131
1           Toy       8
2           DVD   19828
3        Sports       1
4  Baby Product       1
5   Video Games       1
6          Book  393561
7         Music  103144
8      Software       5
9            CE       4

In [ ]:
same_group=same_group.alias('a').join(group_items.alias('b'),col('a.group')==col('b.group')).select(same_group['*'],group_items['count'])

In [ ]:
same_group=same_group.withColumnRenamed('count','total_products').toPandas()
same_group

   group group2  purchase_pairs  total_products
0  Video  Video            3372           26131
1    DVD    DVD            3043           19828
2   Book   Book          637896          393561
3  Music  Music           45806          103144

In [ ]:
def co_pur_ratio(x):
    possible_pairs=(x.total_products*(x.total_products-1))/2
    ratio = 100*x.loc['purchase_pairs']/possible_pairs
    return ratio

In [ ]:
same_group['co_purchase_ratio']=same_group.apply(lambda x:co_pur_ratio(x),axis=1)
same_group

   group group2  purchase_pairs  total_products  co_purchase_ratio
0  Video  Video            3372           26131           0.000988
1    DVD    DVD            3043           19828           0.001548
2   Book   Book          637896          393561           0.000824
3  Music  Music           45806          103144           0.000861

In [ ]:
highest_copurchase_group=same_group[same_group.co_purchase_ratio==same_group.co_purchase_ratio.max()].group.values[0]
print("Highest co purchase ratio is '{}'".format(highest_copurchase_group))

Highest co purchase ratio is 'DVD'

#### 5.4 . Analzying co purchase across the diverse group <a name='5.4'></a>

In [ ]:
diverse_group=co_purchase_group[co_purchase_group.group!=co_purchase_group.group2].toPandas()

In [ ]:
diverse_group

           group        group2   count
0           Book         Music  164434
1          Music          Book  163471
2          Video          Book   42329
3           Book         Video   42241
4            DVD          Book   31270
5           Book           DVD   31008
6          Video         Music   11007
7          Music         Video   10905
8            DVD         Music    8078
9          Music           DVD    8063
10           DVD         Video    2193
11         Video           DVD    2146
12          Book           Toy      13
13           Toy          Book       9
14      Software          Book       7
15            CE          Book       7
16          Book      Software       5
17   Video Games          Book       5
18  Baby Product          Book       4
19         Music           Toy       4
20            CE         Music       4
21          Book            CE       3
22          Book   Video Games       3
23          Book  Baby Product       2
24         Video      Software       2
25         Music            CE       2
26         Video           Toy       2
27      Software         Music       2
28      Software         Video       1
29  Baby Product           DVD       1
30           DVD           Toy       1
31           Toy         Music       1
32           DVD  Baby Product       1
33           Toy         Video       1
34            CE           DVD       1

## **Step 6:** Graph Representation<a name='6'><a>

In [ ]:
import snap

In [ ]:
edge_dataframe=trans_sdf.toPandas()

In [ ]:
edge_dataframe.shape

(1234877, 2)

In [ ]:
edge_dataframe['src']=edge_dataframe['src'].astype('int64')
edge_dataframe['dest']=edge_dataframe['dest'].astype('int64')
edge_dataframe.dtypes

src     int64
dest    int64
dtype: object

In [ ]:
print(edge_dataframe.src.nunique())
print(edge_dataframe.dest.nunique())

257570
262111

In [ ]:
len(set.intersection(set(edge_dataframe.src),set(edge_dataframe.dest)))

257570

In [ ]:
nodes=list(set.union(set(edge_dataframe.src),set(edge_dataframe.dest)))
len(nodes)

262111

In [ ]:
np.max(nodes)

262110

#### 1 . Creation of graph using transaction data <a name='6.1'></a>

In [ ]:
'''Creating a directed graph '''
graph=snap.TNGraph.New()

In [ ]:
node_dict={}
for i,node in enumerate(nodes):
    node_id=i
    node_dict[node]=node_id
    graph.AddNode(node_id)

In [ ]:
len(node_dict)

262111

In [ ]:
for i, row in edge_dataframe.iterrows():
    graph.AddEdge(node_dict[row['src']], node_dict[row['dest']])

In [ ]:
FOut = snap.TFOut("co_purchase_directed_all.graph")
graph.Save(FOut)

In [ ]:
# shared_neighbours=[]
# for i,row in edge_dataframe.iterrows():
#     shared_neighbours.append(graph.GetCmnNbrs(int(row['src']),int(row['dest'])))

#### 2 . Connected component <a name='6.2'></a>

In [ ]:
Components = graph.GetSccs()

In [ ]:
len(Components)

6594

In [ ]:
print(graph.IsConnected())

True

In [ ]:
print(graph.IsWeaklyConn())

True

#### 3 . Get indegree and outdegree for every node <a name='6.3'></a>

In [ ]:
InDegV = graph.GetNodeInDegV()

In [ ]:
OutDegV = graph.GetNodeOutDegV()

In [ ]:
degree_attrs=[]
for item1,item2 in zip(InDegV,OutDegV):
    node_id=item1.GetVal1()
    in_degree=item1.GetVal2()
    out_degree=item2.GetVal2()
    degree_attrs.append([node_id,in_degree,out_degree])

In [ ]:
node_attributes=pd.DataFrame(degree_attrs,columns=['Node_id','in_degree','out_degree'])

In [ ]:
node_attributes.head()

   Node_id  in_degree  out_degree
0        0          2           5
1        1          1           5
2        2          2           5
3        3          1           5
4        4         25           5

In [ ]:
node_attributes[['in_degree','out_degree']].describe()

           in_degree     out_degree
count  262111.000000  262111.000000
mean        4.711275       4.711275
std         5.707922       0.951540
min         1.000000       0.000000
25%         2.000000       5.000000
50%         3.000000       5.000000
75%         6.000000       5.000000
max       420.000000       5.000000

#### 4 . Importance/Popularity Score for every node <a name='6.4'></a>

In [ ]:
from fastprogress import progress_bar
from tqdm import tqdm
tqdm.pandas()

/usr/local/lib/python3.7/dist-packages/tqdm/std.py:658: FutureWarning: The Panel class is removed from pandas. Accessing it from the top-level namespace will also be removed in the next version
  from pandas import Panel

In [ ]:
PRankH = graph.GetPageRank()

In [ ]:
node_attributes['page_rank']=node_attributes.apply(lambda x :PRankH(int(x.Node_id)),axis=1)

In [ ]:
NIdHubH, NIdAuthH = graph.GetHits()

In [ ]:
node_attributes['hub_score']=node_attributes.apply(lambda x :NIdHubH(x.Node_id),axis=1)

In [ ]:
node_attributes['auth_score']=node_attributes.apply(lambda x :NIdAuthH(x.Node_id),axis=1)

In [ ]:
node_attributes

        Node_id  in_degree  ...     hub_score    auth_score
0             0          2  ...  4.763850e-05  5.674574e-06
1             1          1  ...  6.395747e-05  2.337667e-06
2             2          2  ...  5.127175e-05  5.496262e-06
3             3          1  ...  5.395929e-05  2.337667e-06
4             4         25  ...  4.904757e-04  2.237277e-05
...         ...        ...  ...           ...           ...
262106   262106          2  ...  4.449405e-12  5.125588e-12
262107   262107          3  ...  3.485290e-12  4.254202e-13
262108   262108          1  ...  2.991218e-12  4.995048e-12
262109   262109          1  ...  1.060986e-10  1.415069e-13
262110   262110          1  ...  2.753226e-12  1.648803e-13

[262111 rows x 6 columns]

In [ ]:
node_attributes['n_triads']=node_attributes.apply(lambda x :graph.GetNodeTriads(int(x.Node_id)),axis=1)

In [ ]:
node_attributes.head()

   Node_id  in_degree  out_degree  ...  hub_score  auth_score  n_triads
0        0          2           5  ...   0.000048    0.000006         3
1        1          1           5  ...   0.000064    0.000002         3
2        2          2           5  ...   0.000051    0.000005         2
3        3          1           5  ...   0.000054    0.000002         6
4        4         25           5  ...   0.000490    0.000022        41

[5 rows x 7 columns]

In [ ]:
node_attributes['Clustr_cf']=node_attributes.apply(lambda x :graph.GetNodeClustCf(int(x.Node_id)),axis=1)

In [ ]:
node_attributes

        Node_id  in_degree  out_degree  ...    auth_score  n_triads  Clustr_cf
0             0          2           5  ...  5.674574e-06         3   0.300000
1             1          1           5  ...  2.337667e-06         3   0.300000
2             2          2           5  ...  5.496262e-06         2   0.133333
3             3          1           5  ...  2.337667e-06         6   0.400000
4             4         25           5  ...  2.237277e-05        41   0.108466
...         ...        ...         ...  ...           ...       ...        ...
262106   262106          2           5  ...  5.125588e-12        12   0.800000
262107   262107          3           5  ...  4.254202e-13        11   0.733333
262108   262108          1           5  ...  4.995048e-12         9   0.900000
262109   262109          1           5  ...  1.415069e-13        13   0.866667
262110   262110          1           5  ...  1.648803e-13         8   0.800000

[262111 rows x 8 columns]

## **Step 7:** Using Graph based analysis to improve the sale and drive the focus area <a name="7"></a>

#### 1 . Popular products are the ones with high page_rank/centrality score <a name='7.1'></a>

In [ ]:
ex_high_pgrnk=node_attributes.page_rank.mean()+node_attributes.page_rank.std()
ex_high_pgrnk

1.3096018928027278e-05

In [ ]:
 node_attributes[node_attributes.page_rank>ex_high_pgrnk]

        Node_id  in_degree  out_degree  ...    auth_score  n_triads  Clustr_cf
5             5         54           5  ...  9.762999e-04        79   0.051299
6             6         98           5  ...  1.020202e-02        66   0.013069
7             7         34           5  ...  1.878698e-03        38   0.057057
8             8        293           5  ...  5.663351e-02       166   0.003802
9             9         20           0  ...  9.653628e-04        14   0.073684
...         ...        ...         ...  ...           ...       ...        ...
261213   261213         17           5  ...  2.092580e-08        28   0.183007
261572   261572         23           5  ...  1.332903e-12        50   0.197628
261581   261581         10           5  ...  3.349291e-11        20   0.444444
261582   261582         17           5  ...  5.961414e-13        35   0.257353
261584   261584         17           5  ...  3.436276e-11        34   0.250000

[9224 rows x 8 columns]

#### 2 . Products which might rose to popularity <a name='7.2'></a>

In [ ]:
''' Products with high hub score and low Clustr_cf must be increased in sale since they might trigger the sale of products with high authority score'''

' Products with high hub score and low Clustr_cf must be increased in sale since they might trigger the sale of products with high authority score'

In [ ]:
ex_high_hub=node_attributes.hub_score.mean()+node_attributes.hub_score.std()
ex_high_auth=node_attributes.auth_score.mean()+node_attributes.auth_score.std()
ex_low_clcf=node_attributes.Clustr_cf.mean()-node_attributes.Clustr_cf.std()

In [ ]:
products_for_target_sell = node_attributes[(node_attributes.page_rank>ex_high_pgrnk) & (node_attributes.Clustr_cf<ex_low_clcf) ]
products_for_target_sell

        Node_id  in_degree  out_degree  ...    auth_score  n_triads  Clustr_cf
5             5         54           5  ...  9.762999e-04        79   0.051299
6             6         98           5  ...  1.020202e-02        66   0.013069
7             7         34           5  ...  1.878698e-03        38   0.057057
8             8        293           5  ...  5.663351e-02       166   0.003802
9             9         20           0  ...  9.653628e-04        14   0.073684
...         ...        ...         ...  ...           ...       ...        ...
205477   205477         32           5  ...  1.095330e-08        53   0.106855
213261   213261         23           5  ...  6.344874e-08        34   0.134387
218156   218156         23           5  ...  2.596640e-08        34   0.134387
228899   228899         16           5  ...  1.310521e-04        17   0.141667
233453   233453         23           5  ...  1.956901e-06        36   0.142292

[3560 rows x 8 columns]

#### 3 . Products which should be targeted inorder to trigger the sale of others <a name='7.3'></a>

In [ ]:
hub_products_to_sell = node_attributes[(node_attributes.hub_score>ex_high_hub) & (node_attributes.Clustr_cf<ex_low_clcf) ]
hub_products_to_sell

        Node_id  in_degree  out_degree  ...    auth_score  n_triads  Clustr_cf
5             5         54           5  ...  9.762999e-04        79   0.051299
6             6         98           5  ...  1.020202e-02        66   0.013069
7             7         34           5  ...  1.878698e-03        38   0.057057
17           17         21           5  ...  8.334128e-05        27   0.090000
18           18        172           5  ...  8.366780e-03       141   0.009477
...         ...        ...         ...  ...           ...       ...        ...
261947   261947          3           5  ...  1.538398e-06         1   0.100000
261985   261985          2           5  ...  1.191276e-06         1   0.100000
261986   261986          1           3  ...  3.620334e-07         0   0.000000
261990   261990          1           2  ...  8.716964e-07         0   0.000000
262028   262028          1           4  ...  1.531988e-03         0   0.000000

[1409 rows x 8 columns]

#### 4 . Product sale within the same and diverse product group <a name='7.4'></a>

In [ ]:
def get_avg_clstr_coef(x):
    src_nodes=x['src_product_list']
    dest_nodes=x['dest_product_list']
    nodes=set([*src_nodes,*dest_nodes])
    nodes=[int(i) for i in nodes]
    clus_coefs=[]
    for node in nodes:
        clus_coefs.append(graph.GetNodeClustCf(node))
    avg_clus_coef=np.mean(clus_coefs)
    return avg_clus_coef

In [ ]:
same_group_ID=node_meta_src_des.groupBy(['group','group2']).agg(F.collect_list('src').alias('src_product_list'),F.collect_list('dest').alias('dest_product_list')).toPandas()

In [ ]:
same_group_ID['Clustr_coef']=same_group_ID.apply(lambda x: get_avg_clstr_coef(x),axis=1)

In [ ]:
same_group_ID.sort_values('Clustr_coef')

           group  ... Clustr_coef
27          Book  ...    0.128307
5   Baby Product  ...    0.168571
31         Video  ...    0.185577
17          Book  ...    0.211111
8          Music  ...    0.219163
1            Toy  ...    0.234828
32           Toy  ...    0.239286
15           DVD  ...    0.250000
7   Baby Product  ...    0.250000
35          Book  ...    0.270901
36      Software  ...    0.311140
12          Book  ...    0.357407
21            CE  ...    0.375847
24           DVD  ...    0.393218
11           DVD  ...    0.398919
19         Video  ...    0.399603
25         Video  ...    0.400843
3          Video  ...    0.404422
16      Software  ...    0.404731
0          Music  ...    0.414200
34         Music  ...    0.416239
18         Music  ...    0.416987
10           Toy  ...    0.417582
29         Video  ...    0.419992
4          Music  ...    0.420590
33          Book  ...    0.421515
23         Video  ...    0.422165
13          Book  ...    0.422670
20          Book  ...    0.422709
14           DVD  ...    0.424808
28          Book  ...    0.429102
6            DVD  ...    0.439757
9            DVD  ...    0.465201
26            CE  ...    0.520184
37            CE  ...    0.547619
30         Music  ...    0.611111
22          Book  ...    0.683135
38   Video Games  ...    0.688757
2       Software  ...    0.700000

[39 rows x 5 columns]

## **Step 8:** Improving product recommendation <a name='8'></a>

 #### 1.  Using Open traid <a name='8.1'></a>

In [ ]:
graph.CntUniqBiDirEdges()

335085

In [ ]:
nodes=list(node_dict.keys())
len(nodes)

262111

{1, 2, 5}

In [ ]:
## A<-->B-->C
## A-->B-->C
## A-->B>-->C

In [ ]:
node_neighbours={}
for node in progress_bar(nodes):
  node_neighbours[node]=list(edge_dataframe[edge_dataframe.src==node]['dest'])

In [ ]:
def triadic_closure(x):
  src=x['src']
  dest=x['dest']
  src_neighbours=set(node_neighbours[src])
  dest_neighbours=set(node_neighbours[dest])
  new_co_pairs=set.union(src_neighbours,dest_neighbours)-set.intersection(src_neighbours,dest_neighbours)
  new_nbrs=len(new_co_pairs)
  old_nbrs=len(src_neighbours)
  dseries=pd.Series([src,dest,new_co_pairs,new_nbrs,old_nbrs])
  return dseries

In [ ]:
closed_triads=edge_dataframe.apply(lambda x :triadic_closure(x),axis=1)

In [ ]:
colname={0:'src',1:'dest',2:'new_co_pairs',3:'new_nbrs',4:'old_nbrs'}

In [ ]:
closed_triads=closed_triads.rename(columns=colname)
closed_triads

   src  dest                          new_co_pairs  new_nbrs  old_nbrs
0    0     1                         {0, 1, 3, 15}         4         5
1    0     2    {0, 1, 2, 3, 4, 5, 11, 12, 13, 14}        10         5
2    0     3   {64, 1, 2, 3, 4, 5, 65, 66, 67, 63}        10         5
3    0     4    {1, 2, 3, 4, 5, 7, 16, 17, 18, 19}        10         5
4    0     5       {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}        10         5
5    1     0                         {0, 1, 3, 15}         4         5
6    1     2         {2, 4, 5, 11, 12, 13, 14, 15}         8         5
7    1     4   {0, 2, 4, 5, 7, 15, 16, 17, 18, 19}        10         5
8    1     5      {0, 2, 4, 5, 6, 7, 8, 9, 10, 15}        10         5
9    1    15  {0, 2, 4, 5, 68, 69, 70, 71, 72, 15}        10         5

In [ ]:
closed_triads_df.new_nbrs.sum()

   src  dest  new_co_pairs  new_nbrs  old_nbrs
0  NaN   NaN           NaN       NaN       NaN

#### 2. Using Node2vec <a name='8.2'></a>

This is an attempt to represent the products in vector representation. We are using node2vec to create shallow embedding.

In [ ]:
import networkx as nx
from node2vec import Node2Vec

In [ ]:
G = nx.from_pandas_edgelist(edge_dataframe, "src", "dest", create_using=nx.Graph())

In [ ]:
node2vec = Node2Vec(G, dimensions=100, walk_length=5, num_walks=5)

HBox(children=(FloatProgress(value=0.0, description='Computing transition probabilities', max=262111.0, style=â€¦

Generating walks (CPU: 1):   0%|          | 0/5 [00:00<?, ?it/s]

Generating walks (CPU: 1): 100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 5/5 [03:55<00:00, 47.20s/it]

In [ ]:
n2w_model = node2vec.fit(window=5, min_count=1)

In [ ]:
def get_similar_nodes(node):
  similar_nodes=[int(x[0]) for x in n2w_model.most_similar(str(node))]
  return similar_nodes

In [ ]:
'''Sourcing 'dest' column above the table. We can recommend the products which are copurchased with the similar type of product'''

"Sourcing 'dest' column above the table. We can recommend the products which are copurchased with the similar type of product"

In [ ]:
recommended_product=node_meta_src_des[node_meta_src_des.src.isin(get_similar_nodes(1))].toPandas()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: DeprecationWarning: Call to deprecated `most_similar` (Method will be removed in 4.0.0, use self.wv.most_similar() instead).

In [ ]:
recommended_product

        ID        ASIN  group  ... group2  sales_rank2  avg_rating2
0   119081  0451181468   Book  ...   Book       306956            5
1   128758  B00008DDX0    DVD  ...   Book        23239            4
2   243397  B00004TXTU  Music  ...   Book        77751            4
3    16189  0275955230   Book  ...  Video        23333            4
4   243397  B00004TXTU  Music  ...   Book       514509            3
5    13086  0312180845   Book  ...  Music       196579            4
6   119081  0451181468   Book  ...   Book       435438            3
7   128758  B00008DDX0    DVD  ...   Book       352627            3
8    74019  6305047480    DVD  ...   Book       652660            5
9   128758  B00008DDX0    DVD  ...   Book      1281997            0
10   16189  0275955230   Book  ...  Music       425340            0
11  119081  0451181468   Book  ...   Book      1815111            0
12   25335  1561840033   Book  ...   Book      1295406            0
13  128758  B00008DDX0    DVD  ...  Music        71081            4
14  243397  B00004TXTU  Music  ...   Book       623988            0
15    2659  0683017233   Book  ...  Music       105125            5
16   25335  1561840033   Book  ...   Book        65761            5
17   16189  0275955230   Book  ...  Video         7343            4
18  102124  0439060311   Book  ...   Book      1352328            0
19   74019  6305047480    DVD  ...  Music       264054            5
20   25335  1561840033   Book  ...  Music        48620            3
21   13086  0312180845   Book  ...  Music        48620            3
22  102124  0439060311   Book  ...   Book      1274489            0
23  102124  0439060311   Book  ...   Book       880989            2
24   74019  6305047480    DVD  ...   Book       587228            4
25   25335  1561840033   Book  ...   Book       868001            5
26    2659  0683017233   Book  ...   Book        52697            0
27   16189  0275955230   Book  ...  Video        57640            4
28  151975  B00006IMA0  Music  ...   Book      2176300            4
29   16189  0275955230   Book  ...  Music       104471            4
30   74019  6305047480    DVD  ...   Book       773746            4
31    2659  0683017233   Book  ...   Book          962            3
32  151975  B00006IMA0  Music  ...   Book       186240            0
33   13086  0312180845   Book  ...   Book       516316            3
34   13086  0312180845   Book  ...   Book      1125804            0
35  151975  B00006IMA0  Music  ...   Book       429890            0
36  102124  0439060311   Book  ...   Book      1777632            0
37    2659  0683017233   Book  ...   Book      1280758            1
38  243397  B00004TXTU  Music  ...   Book       212915            4
39   25335  1561840033   Book  ...   Book      1052192            0
40  102124  0439060311   Book  ...   Book       139690            4
41  119081  0451181468   Book  ...  Video       105437            4
42  151975  B00006IMA0  Music  ...   Book       145956            4
43    2659  0683017233   Book  ...   Book         1368            4
44  243397  B00004TXTU  Music  ...  Music       309263            0
45   74019  6305047480    DVD  ...   Book      1784069            0
46  128758  B00008DDX0    DVD  ...   Book       554848            4
47   13086  0312180845   Book  ...  Music       180182            4
48  119081  0451181468   Book  ...   Book       470647            0
49  151975  B00006IMA0  Music  ...   Book       497032            3

[50 rows x 15 columns]


## Proposed extensions <a name='9'></a>
#### 1.  Using Node attributes
#### 2. Community detection 
#### 3. Location of category can be used as a ontology
#### 4. Similarity score on title,category-name,Authors
#### 5. Collaborative filtering using customer information